# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*.pyo

# ==========================================
# Virtual Environment
# ==========================================

venv/
.venv/
env/

# ==========================================
# Dataset
# ==========================================

data/*.csv

# ==========================================
# Trained Models
# ==========================================

models/*.pkl
models/*.joblib

# ==========================================
# Generated Results
# ==========================================

results/*.png
results/*.jpg
results/*.jpeg
results/*.csv

# ==========================================
# VS Code
# ==========================================

.vscode/

# ==========================================
# Jupyter Notebook
# ==========================================

.ipynb_checkpoints/

# ==========================================
# Operating System Files
# ==========================================

.DS_Store
Thumbs.db